{% extends "base.html" %}

{% block title %}
delete task
{% endblock title %}

{% block content %}

    <center>
        <div class="delete">
            <form action="" method="post">
            {% csrf_token %}
           <h1>Do you want to delete task - {{task.title}}</h1>
           <div class="btns">
            <button type="submit">Yes , Delete</button>
           <button><a style="font-size: 25px;text-decoration: none;color: black;" href="{% url 'list' %}">Cancel</a></button>
           </div>
        </form>
        </div>

    </center>
{% endblock content %}