{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <center>
       
        {% if error %}
       <p style="font-size: 45px;"> {{error}}</p>
        {% endif %}
        <div class="login">
            <form action="" method="post">
                <h1 id="head">Welcome Back</h1>
                <p id="para">Login to start managing your daily tasks</p>
                <div id="empty"></div>
                {% csrf_token %}
                <label for="">Username: </label>
                <input type="text" name="username" id=""> <br> <br>
                <label for="">Password: </label>
                <input type="password" name="password" id=""> <br> <br>
                <button class="btn btn-primary" type="submit">Login</button> <br> <br>
                <p>Not registered yet? <a href="{% url 'register' %}">Register</a></p>

            </form>
        </div>
    </center>

</body>

</html>