{% extends "base.html" %}

{% block title %}
login
{% endblock title %}

{% block content %}
<center>
    <h1>Login Page</h1>
    <hr>

    <div class="login">
    <form action="" method="post">
    {% csrf_token %}
    <label for="">Username: </label>
    <input type="text" name="username" id=""> <br> <br>
    <label for="">Password: </label>
    <input type="password" name="password" id=""> <br> <br>
    <button class="btn btn-primary" type="submit">Login</button> <br> <br>
    <p>Not registered yet?   <a href="{% url 'register' %}">Register</a></p>
    
</form>
</center>







{% endblock content %}