{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <center>
       
        {% if error %}
       <p style="font-size: 45px;"> {{error}}</p>
        {% endif %}
        <div class="register">
            <form action="" method="post">
                <h1 id="head">Register to manage your tasks</h1>
                <p id="para">Create an account to start task</p>
                <div id="empty"></div>
                {% csrf_token %}
                <label for="">Username: </label>
                <input type="text" name="username" id=""> <br> <br>
                <label for="">Email: </label>
                <input type="text" name="email" id=""> <br> <br>
                <label for="">Password: </label>
                <input type="password" name="password" id=""> <br> <br>
                <button class="btn btn-primary" type="submit">Register</button> <br> <br>
                <p>already registered user? <a href="{% url 'login' %}">Login</a></p>

            </form>
        </div>
    </center>

</body>

</html>