{% extends 'base.html' %}
{% block title %}
Tasklist
{% endblock title %}

{% block heading%}
<h1 style="font-family: cursive;">Task Page</h1>
{% endblock heading%}
{% block content %}
<center>

    <div class="task">
        {% for task in tasks %}
        <h1 style="font-size: 22px;"> {{task.title}} </h1>
        <p>{{task.description}} </p>
        <div class="editdel" style="display: flex;margin-left: 270px; gap: 10px;">
            <button><a href="{% url 'edit' task.id %}">Edit Task</a></button> <br>
            <button><a href="{% url 'delete' task.id %}">Delete Task</a> </button><br>
        </div>
        {% if task.status %}

        Done <i class="fa-solid fa-check"></i>
        {% else %}

        Pending <i class="fa-solid fa-x"></i>
        {% endif %}
        <hr>
        {% empty %}
        <p>No tasks created</p>
        {% endfor %}
    </div>





</center>
{% endblock content %}