{% extends 'base.html' %}
{% block title %}
Tasklist
{% endblock title %}

{% block content %}
<center>

    <h1>Task Page</h1>
    <a href="{% url 'add' %}">Add Task</a> <br>
    <hr>
    

{% for task in tasks %}
{{task.title}} <br>
{{task.description}} <br>
<a href="{% url 'edit' task.id %}">Edit Task</a> <br>
<a href="{% url 'delete' task.id %}">Delete Task</a> <br>
{% if task.status %}

Done
{% else %}

Pending
{% endif %}
<hr>
{% empty %}
<p>No tasks created</p>
{% endfor %}


</center>
{% endblock content %}