*{
    padding: 0%;
    margin: 0%;
    background-color:rgb(255, 252, 240);
}

.login{
    
    
    
    margin-top: 100px;
    form{
        margin-top: 45px;
        font-size: 25px;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        width: fit-content;
        width: 32%;
        height: 450px;
        padding:35px;
        label{  
            background-color: white;
            font-size: 30px;
            font-family:cursive;
        }
        input{
            background-color: white;
            font-size: 20px;
            padding: 10px;
            border-radius: 10px;
            font-family: ;
            
        }
    }
    button{
        font-size: 25px;
        padding: 5px;
        font-family: cursive;
        background-color: rgb(21, 20, 20);
        color: white;
        border-radius: 10px;
        padding: 10px;
    }
    a{
        background-color: white;

    }
    p{
        background-color: white;
        font-family: cursive;
    }
    #head{
        background-color: white;
        font-size: 35px;
        font-family: cursive;
    }
    #para{
        font-size: 25px;
        font-family: cursive;
    }

    #empty{
        margin-top: 80px;
    }
    
    

}