*{
    padding:0%;
    margin: 0%;
    background-color:rgb(255, 252, 240);

}

.nav{
    

    border-bottom: 2px solid black;
    display:flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
    a{
        text-decoration: none;
        color: white;
        font-family: cursive;
       
        
    }
    button{
        font-size: 22px;
        border-radius: 5px;
        background-color: blue;
        height: 43px;
        padding: 5px;
        margin-right: 2px;
        margin-top: 2px;
        background-color: blue;
        color: black;
    }

    
    
}

.task{
    background-color: white;
    margin-top: 30px;
    padding: 15px;
    border: 2px solid black;
    width:fit-content;
    width: 50%;
    font-family: cursive;
    .editdel{
            background-color: white;

        padding: 15px;
        a{
                background-color: white;

            text-decoration: none;
            color: black;
        }
        button{
                background-color: white;
            font-size: 15px;
            font-weight: bolder;
            padding: 5px;

        }
    }

    
}


.add{
    margin-top: 100px;
    form{
        width: fit-content;
        font-size: 25px;
        padding: 10px;
        button{
            font-size: 25px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

        }

    }
}
.edit{
    margin-top: 100px;
    form{
        width: fit-content;
        font-size: 25px;
        padding: 10px;
        button{
            font-size: 25px;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }

    }
}
.cursive-input {
    font-family: cursive !important;
    font-size: 20px !important;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%; /* Keeps fields neatly aligned */
}


.delete{
    margin-top: 45px;
    font-family: cursive;
    .btns{
        cursor: pointer;
        display: flex;
        margin-left: 650px;
        margin-top: 45px;
        gap: 30px;
        button{
            cursor: pointer;
            font-size: 25px;
            border-radius: 10px;
            padding: 10px;

        }
    }
}

